*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

h1{
    color: #75B79E;
    font-size: 56px;
}

header{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 47px;
}

.carta{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
    display: flex;
}

.fileira{
    display: flex;
    gap: 34px;
}

.escondido{
    display: none;
}

.headerMobile{
    display: none;
}

@media (max-width: 600px){

    h1{
        font-size: 36px;
        line-height: 42px;
        /*height: 63px;
        width: 312px;
        background-color: red;
        display: flex;
        justify-content: center;
        align-items: center;*/
    }
    
    /*header{
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 47px;
        background-color: blue;
    }*/

    .fileira{
        flex-direction: column;
    }

    header{
        display: none;
    }

    .headerMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 25px;
    }

}