*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #EEF9BF;
}

h1{
    color: #75B79E;
    font-size: 56px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 47px auto;
}

.titulo{
    height: 63px;
    width: 541px;
    background-color: blue;
}

.carta{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    border: 1px solid #99CEA8;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    gap: 34px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

img{
    width: 100px;
    height: 100px;
}

.escondido{
    display: none;
}

/*.teste{
    background-color: red;
}

/*.headerMobile{
    display: none;
}

@media (max-width: 600px){

    h1{
        font-size: 36px;
        line-height: 42px;
    }

    /*.fileira{
        flex-direction: column;
    }*/

    /*header{
        display: none;
    }

    .headerMobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 25px;
    }

}*/